{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <div class="caption">
        <h2>Trend</h2>
        <p class="panel">See lottery number trends in several intuitive diagrams.</p>
        <p>
          <a href="/trend/" class="btn btn-primary" role="button">Visualize Them</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <div class="caption">
        <h2>Prediction</h2>
        <p class="panel">Predict future lottery numbers based on real lottery data.</p>
        <p>
          <a href="/prediction/" class="btn btn-primary" role="button">Predict Them</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="/static/js/index.js"></script>
{% endblock %}
